@import "./reset";

body {
  background-color: antiquewhite;
}

header {
  margin: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.chart-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
